{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <h2 class="text-left">{{ level.name }} Quizzes</h2>
  <p class = "h5">{{ level.description }}</p>

  <div class="p-0 container d-flex flex-column">
    {% for quiz in quizzes %}
        <a class = "d-block p-3 my-2 rounded" style = "text-decoration: none; color: #5856D6; background-color: #E7E7E7" href="{% url 'quiz:quiz_detail' quiz.slug %}">{{ quiz.title }}</a>
    {% empty %}
      <div>No quizzes available for this level.</div>
    {% endfor %}
  </div>
{% endblock content %}
