{% extends 'base.html' %}

{% load quiz %}

{% block content %}
<div class="d-flex flex-column h-100">
    <div class="h1 text-center">Levels</div>
    <div class = "container d-grid text-center mt-5">
        <div class = "row gap-5">
            {% for level in levels %}
            <div class="col border rounded" style = "background-color: #E7E7E7; padding: 2em 0;">
                <div class = "h4 flex-grow my-5"  >{{ level.name }}</div>
                <a class = "fs-6 py-2 rounded mt-5 px-4" style = "text-decoration: none; color: white; background-color: #5856D6;" href="{% url 'quiz:level_quizzes' level.slug %}" >Click here to play</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
    {% if not messages  %}
        <script type="text/javascript">
            
        </script>
    {% endif %}
    
{% endblock extra_js %}
