{% extends 'base.html' %}

{% block content %}
    <h1 class="fs-3 mb-2">{{object.title}}</h1>
    <div class="text-justify">
        {{object.description|safe}}
    </div>
    <div class="text-center mt-5">
        {% if object.is_closed %}
            <p class="text-danger">This quiz is closed</p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Start Quiz" class="btn btn-primary">
            </form>
            <p class="text-warning pb-0 pt-1">when you start the quiz you can't go back.</p>
        {% endif %}
    </div>
{% endblock %}
