{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form name = "questionForm" id = "question-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="question" value="{{object.pk}}">
        <h1 class="fs-4 mb-2">
            {{object.question}}
        </h1>
        <p>
            {{object.description|safe}}
        </p>
        {% if messages  %}
            <h1 class="fs-4 text-danger text-center">{{messages }}</h1>
        {% else %}
            <p id="timer" class="mb-0 text-danger">Time left: .. <b>seconds</b></p>
            <div class="d-flex justify-content-center flex-column">
                <input class="" type="hidden" value="" name="answer" id="selected-answer" >
                <div class="d-grid gap-2 border-0 mt-4 z-n1">
                    {% for option in object.questionoptions_set.all %}
                        <div class="p-4 border" onclick="submitForm('{{ option.pk }}')" id="option-{{option.pk}}" style = "cursor:pointer">
                                <strong class="fw-semibold">{{option.option}}</strong>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id = "feedback-correct" class = "text-white fw-bold position-fixed vw-100 vh-100 top-0 start-0" style = "z-index: 2; background-color: rgb(0,0,0,0.1); display:none">
                
                <div class = "bg-success w-25 m-auto h-25 p-4 d-flex flex-column rounded">
                    <div class = "m-auto">
                        <div class = "text-center">&#127882; &#128513;&#128513;&#128513; &#127882;</div>
                        <div class = "text-center">Congratulations! You are doing a great job!</div>
                    </div>
                </div>
            </div>
            <div id = "feedback-wrong" class = "text-white fw-bold position-fixed vw-100 vh-100 top-0 start-0" style = "z-index: 2; background-color: rgb(0,0,0,0.1); display:none">
                <div class = "bg-danger w-25 m-auto h-25 p-4 d-flex flex-column rounded">
                    <div class = "m-auto">
                        <div class = "text-center">&#128079; &#128559;&#128559;&#128559; &#128079;</div>
                        <div class = "text-center">Better luck next time, you can do it!</div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block extra_js %}
    {% if not messages  %}
        <script type="text/javascript">
            const submitButton = document.getElementById("submitBtn")
            const questionForm = document.getElementById("question-form")
            const body = document.getElementById("body")
            var x = ''
            
            const formData = new FormData(questionForm);
            let isCorrect = '{{ correct_answer  }}' === 'True';  
            let isAnswered = '{{ correct_answer  }}' !== '';    
            let time = parseInt('{{object.time}}');
            
            function submitForm(answerValue) {
                document.getElementById('selected-answer').value = answerValue;
                const event = new Event('submit', {
                    'bubbles': true, 
                    'cancelable': true
                });
                document.getElementById("question-form").dispatchEvent(event);
            }

            document.getElementById("question-form").onsubmit = (event) => {
                event.preventDefault();  
                const selectedOption = document.getElementById('selected-answer').value;
                const selectedAnswer = document.getElementById(`option-${selectedOption}`).querySelector("strong").textContent.trim();
                const correctAnswerText = '{{ correct_option_text }}'.trim();  
                const isCorrect = selectedAnswer === correctAnswerText;
                const isAnswered = selectedOption.value !== '';             

                if (isAnswered) {
                    let color = isCorrect ? "green" : "red";  
                    let audio = isCorrect ? "correct1.mp3" : "wrong.mp3";
                    let feedback = isCorrect ? "feedback-correct" : "feedback-wrong";
                    let body = document.getElementById("body");
                    document.getElementById(feedback).style.display = "flex";
                    clearInterval(x);
                    var audioUrl = "{% static 'audio/' %}" + audio;
                    let sound = new Audio(audioUrl);
                    sound.play();
                    setTimeout(() => {
                        event.target.submit();  
                    }, 2000);  
                }

                else {
                    let color = "red";  
                    let audio = "wrong.mp3";
                    let feedback = "feedback-wrong";
                    let body = document.getElementById("body");
                    document.getElementById(feedback).style.display = "flex";
                    var audioUrl = "{% static 'audio/' %}" + audio;
                    let sound = new Audio(audioUrl);
                    sound.play();
                    setTimeout(() => {
                        document.getElementById("question-form").submit();  
                    }, 2000);   
                }
            };        

            document.addEventListener("DOMContentLoaded", function(event) {
                const timer = document.getElementById("timer");

                // Display the initial timer value as soon as the page loads
                if (time == 1) {
                    timer.innerHTML = `Time left: <b>${time} second</b>`;
                } else {
                    timer.innerHTML = `Time left: <b>${time} seconds</b>`;
                }

                // Start the countdown
                x = setInterval(function() {
                    time--;

                    var timer_str;
                    if (time == 1) {
                        timer_str = `Time left: <b>${time} second</b>`;
                    } else {
                        timer_str = `Time left: <b>${time} seconds</b>`;
                    }

                    if (time <= 0) {
                        clearInterval(x);
                        timer_str = "<b>Time's up!</b>";
                        let color = "red";  
                        let audio = "wrong.mp3";
                        let feedback = "feedback-wrong";
                        let body = document.getElementById("body");
                        document.getElementById(feedback).style.display = "flex";
                        var audioUrl = "{% static 'audio/' %}" + audio;
                        let sound = new Audio(audioUrl);
                        sound.play();
                        setTimeout(() => {
                            document.getElementById("question-form").submit();  
                        }, 2000);  
                    }

                    timer.innerHTML = timer_str;
                }, 1000);  // Adjusted to 1000ms for a smoother countdown
            });

        </script>
    {% endif %}
    
{% endblock extra_js %}
