{% extends 'base.html' %}
{% load static quiz %}
{% block content %}
<h1 class="fs-3 pb-4">Quizzes</h1>
    {% if not quiz_list %}
        <div class="col-12 card">
            <div class="card-body">
                <p class="mb-0 card-text fw-bold text-center text-danger">
                    No Quizzes started yet.
                </p>
            </div>
        </div>
    {% endif %}
    {% for user_quiz in quiz_list %}
        <div class="mb-3">
            <a href="{% url 'quiz:quiz_detail' user_quiz.quiz.slug %}" class="text-decoration-none  py-3" aria-current="true">
                <div class="d-flex gap-2 w-100">
                    <div class = "flex-grow-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="mb-0 fw-bold text-dark">
                                {{ user_quiz.quiz.title }}
                            </h6>
                            <small class="opacity-50 text-nowrap text-dark fw-bold">
                                <div class = "d-flex" data-bs-toggle="tooltip" data-placement="top" title="Score is {{request.user|quiz_user_score:user_quiz.quiz}} out of {{user_quiz.quiz.total_questions}}">
                                    <span class="fa fa-star" id = "{{ user_quiz.quiz.slug|add:'-1-star' }}"></span>
                                    <span class="fa fa-star" id = "{{ user_quiz.quiz.slug|add:'-2-star' }}"></span>
                                    <span class="fa fa-star" id = "{{ user_quiz.quiz.slug|add:'-3-star' }}"></span>
                                    <span class="text-success">
                                </div>
                            </span>
                            </small>
                        </div>
                        <p class="mb-0 text-black-50 opacity-75">
                            {{ user_quiz.quiz.description|truncatechars:100 }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
        <script type="text/javascript">     
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
 
            const quizList = JSON.parse('{{ quiz_list_json|escapejs }}');
            quizList.forEach((quiz) => {
                let star1 = document.getElementById(quiz["quiz_slug"] + "-1-star")
                let star2 = document.getElementById(quiz["quiz_slug"] + "-2-star")
                let star3 = document.getElementById(quiz["quiz_slug"] + "-3-star")
                let overallScore = quiz["score"]/quiz["total"]

                if(overallScore >= 0.8) {
                    star1.style.color = "orange"
                    star2.style.color = "orange"
                    star3.style.color = "orange"
                }
                else if(overallScore < 0.8 && overallScore >= 0.5) {
                    star1.style.color = "orange"
                    star2.style.color = "orange"
                }
                else if(overallScore < 0.5 && overallScore >= 0.25) {
                    star1.style.color = "orange"
                }
            });

        </script>   
{% endblock %}